* {
    box-sizing: border-box
    /* margin: 0;
    padding: 0; */
}

.wrapper {
    border: 1px solid black;
    height: 300px;
    margin: 40px auto;
    width: 75%;
}

.child-box {
    /* height: 50%; */
    height: 150px;
    margin: 10px;
    /* display: inline-block; */
}

.blue {
    border: 1px solid blue;
    background-color: blue;
    /* height: 50%; */
    /* height: 150px;
    margin: 10px; */
}

.green {
    border: 1px solid green;
    background-color: green;
    /* height: 50%; */
    /* height: 150px;
    margin: 10px; */
}

/* media query for mobile-first, and changing size at 700px break point */
@media screen and (min-width: 699px) {
    html, body {
        background-color: red;
    }
    .wrapper {
        display: flex;
    }
    .child-block {
        /* width: 50%; */
        flex-grow: 1;
    }
}